---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width:    1000px !default;

$background-color: #343434; /* a dark, off-black for the bg */
$text-color: #E8E8E8; /* an off-white for the text */
$grey-color-light: #444444; /* for the border-top separators */
$grey-color-dark: #C3C3C3; /* such as the site title in the header, visited */
$brand-color: #fa9200;

@import "minima";


a {
    color: $brand-color;
}

a:visited {
    color: $brand-color;
}

a:hover {
    color: $text-color;
    text-decoration: underline;
}

.imgright { float: right; margin-left: 10px; }
.imgcap img {
  max-width: 100%;
}
.imgcap {
  color: $text-color;
  font-size: 14px;
  text-align: center;
}

.svgdiv {
  width: 100%;
  text-align: center;
}

article {
  text-align: justify;
}
@import url(fruity.css);

.highlighter-rouge .highlight {
    background: #000000;
    border: 0;
}

pre, code {
    background: #000000;
    border: 0;
}